codes/Node-Red/PZEM_Monitor.json
[
    {
        "id": "edf5691ec05a76df",
        "type": "tab",
        "label": "Modbus Energy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2466f8c8936be5d",
        "type": "modbus-read",
        "z": "edf5691ec05a76df",
        "name": "Read Holding Register",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "12",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3835f24cae29b1d9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "0b5c3afa7527547d"
            ],
            []
        ]
    },
    {
        "id": "0b5c3afa7527547d",
        "type": "function",
        "z": "edf5691ec05a76df",
        "name": "Get Data",
        "func": "var v_int = msg.payload[0];\nvar v_dec = msg.payload[1]/100;\nmsg.voltage = v_int + v_dec;\n\nvar c_int = msg.payload[2];\nvar c_dec = msg.payload[3]/100;\nmsg.current = c_int + c_dec;\n\nvar p_int = msg.payload[4];\nvar p_dec = msg.payload[5]/100;\nmsg.power = p_int + p_dec;\n\nvar e_int = msg.payload[6];\nvar e_dec = msg.payload[7]/1000;\nmsg.energy = e_int + e_dec;\n\nvar f_int = msg.payload[8];\nvar f_dec = msg.payload[9]/10;\nmsg.frequency = f_int + f_dec;\n\nvar pf_int = msg.payload[10];\nvar pf_dec = msg.payload[11]/100;\nmsg.pf = pf_int + pf_dec;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "a67d5c0344dcd126",
                "d9c1797311f70dcd",
                "f3974edd88213c87",
                "7a8d65bdfe768491",
                "d416c7a4bad636ee",
                "ccd5d427a756f425",
                "85e5995765a4b20e",
                "18914cfcc71fe8f2",
                "d619ef1751d95be7",
                "248502e17efa2a23"
            ]
        ]
    },
    {
        "id": "a67d5c0344dcd126",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.voltage}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "d9c1797311f70dcd",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.current}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3974edd88213c87",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Power",
        "label": "Watt",
        "format": "{{msg.power}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a8d65bdfe768491",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "7d7b35a83f1c8b37"
            ]
        ]
    },
    {
        "id": "7d7b35a83f1c8b37",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "58baaa8b19f95c2e",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Voltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d416c7a4bad636ee",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Energy",
        "label": "kWh",
        "format": "{{msg.energy}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "ccd5d427a756f425",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "42550c8ab4794ab0",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Frequency",
        "format": "{{msg.frequency}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "85e5995765a4b20e",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "42550c8ab4794ab0",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "PF",
        "format": "{{msg.pf}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "18914cfcc71fe8f2",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "f65c9c7f0fe6db12"
            ]
        ]
    },
    {
        "id": "f65c9c7f0fe6db12",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "58baaa8b19f95c2e",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Current Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d619ef1751d95be7",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "5e55fc1fd2ebc104"
            ]
        ]
    },
    {
        "id": "5e55fc1fd2ebc104",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "58baaa8b19f95c2e",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Power Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "248502e17efa2a23",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "energy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 480,
        "wires": [
            [
                "2aa0bd5656344359"
            ]
        ]
    },
    {
        "id": "2aa0bd5656344359",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "58baaa8b19f95c2e",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Energy Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3835f24cae29b1d9",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.14",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "42550c8ab4794ab0",
        "type": "ui_group",
        "name": "Real Time Information",
        "tab": "adb39634c8cfe93c",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58baaa8b19f95c2e",
        "type": "ui_group",
        "name": "Chart History",
        "tab": "adb39634c8cfe93c",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adb39634c8cfe93c",
        "type": "ui_tab",
        "name": "Energy Monitoring",
        "icon": "flash_auto",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]